<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
</head>
<body>
    <p>student_address:</p> <input type="text" id="student_address">
    <p>name:</p> <input type="text" id="name">
    <p>sex:</p> <input type="text" id="sex">
    <p>brithday:</p> <input type="text" id="brithday">
    <p>nation:</p> <input type="text" id="nation">
    <p>cardId:</p> <input type="text" id="cardId">
    <p>school_name:</p> <input type="text" id="school_name">
    <p>layer:</p> <input type="text" id="layer">
    <p>major:</p> <input type="text" id="major">
    <p>school_system:</p> <input type="text" id="school_system">
    <p>learning_form:</p> <input type="text" id="learning_form">
    <p>branch:</p> <input type="text" id="branch">
    <p>_class:</p> <input type="text" id="_class">
    <p>student_id:</p> <input type="text" id="student_id">
    <p>date_admission:</p> <input type="text" id="date_admission">
    <p>student_status:</p> <input type="text" id="student_status">
    <button onclick="proveManager()">submit</button>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/web3.min.js"></script>
    <script src="/javascripts/metamask.js"></script>    
</body>
</html>